body,
html {
    margin: 0;
    padding: 0px;
    margin-bottom: 100px;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1E1C2B;
    color: white;
}
@media (max-width: 768px) {
    body {
        font-size: small;
    }
}

header {
    background-color: #100C12;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header a {
    margin: 0;
    color: #E2142F !important;
    font-family: 'Pixelify Sans', sans-serif;
}

header a:hover {
    color: #8D9899 !important;

}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #8D9899;
    font-weight: bold;
}

nav a:hover {
    color: #E2142F;
}

footer {
    background-color: #100C12;
    width: 100%;
    box-sizing: border-box;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    color: #8D9899;
}
footer a{
    color: #8D9899 !important;
}
footer a:hover{
    color: #798182 !important;
}

main {
    padding: 40px;
    text-align: center;
    margin-top: 50px;
} 
@media (max-width: 768px) {main {padding: 0px;margin-top: 10px;
}}

form {
    display: inline-block;
    border-radius: 5px;
}

.form_search form {
    display: inline-block;
    border-radius: 5px;
    padding: 60px;
}

#company,
#years {
    margin: 5% 0 10% 0;
}

input[type="search"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
}

a {
    text-decoration: none !important;
    color: #fff;
}

a:hover,
a:focus,
a::after {
    text-decoration: none !important;
    color: #8D9899;
}


.section-background {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://i.redd.it/1asyzovvrn8a1.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    
    color: white;
}

.text-animation{
    padding-top: 15%;
    padding-left: 5%;
}


.section-background h2,
.section-background p {

    font-family: 'Pixelify Sans', sans-serif;
    font-size: clamp(16px, 5vw, 50px);
    /* transform: translate(-50%, 50%); */
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #ffffff;
    width: 0;
    animation: typing 2s steps(30, end), blink-caret 0.75s step-end forwards;
    animation-fill-mode: forwards;
}

.section-background p {
    /* top: 50%;
    left: 30%; */
    font-size: clamp(16px, 5vw, 40px);
    /* transform: translate(-50%, 50%); */
    animation: typing 2s steps(30, end) 2s forwards, blink-caret 0.75s step-end forwards;
}

.section-background form {

    font-family: 'Pixelify Sans', sans-serif;
    padding: 0;
    opacity: 0;

    animation: ani 0.5s steps(40, end) 4s forwards;
}
.section-background form .form_search {
    width: clamp(200px, 5vw, 300px);
    height: clamp(25px, 5vw, 37.6px);
    font-family: 'Pixelify Sans', sans-serif;
    padding-left: 3%;
}
@media (max-width: 1320px) {
    .section-background h2,
.section-background p  {
   
        text-wrap-mode: wrap;
    }
    .text-animation{
        padding-top: 30%;
    }
    
}
@media (max-width: 786px) {
    .section-background h2,
.section-background p  {
   
        text-wrap-mode: wrap;
    }
    .text-animation{
        padding-top: 80%;
    }
     
    
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



input[type="submit"] {
    background-color: #676f70;
    border: none;
    color: #fff;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Pixelify Sans', sans-serif;
}

input[type="submit"]:hover {
    background-color: #E2142F;
}

input[type="reset"] {
    background-color: #676f70;
    border: none;
    color: #fff;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Pixelify Sans', sans-serif;
}

input[type="reset"]:hover {
    background-color: #E2142F;
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #ffffff;
    }
}

.account_sidebar {
    padding: 20px;
    position: absolute;
    width: 50%;
    overflow: auto;
    color: var(--text-color);
    box-sizing: border-box;
}

.account_photo {
    margin-left: 50%;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.account_photo img {
    border-radius: 5px;
}



.sidebar {
    background-color: transparent;
    padding: 20px;
    position: absolute;
    width: 250px;
    height: 100vh;
    overflow: auto;
    color: var(--text-color);
}

.sidebar input,
.sidebar select {

    border: 1px solid #676f70;
    margin-bottom: 15px;
    padding: 10px !important;
    width: 100%;
    font-family: 'Pixelify Sans', sans-serif;
    border-radius: 4px;
}

li {
    list-style-type: none;
}

.sidebar input[type="submit"] {
    background-color: #E2142F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
}

.sidebar input[type="reset"] {
    background-color: #676f70;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
}

.sidebar input[type="reset"]:hover {
    background-color: #E2142F;
}

.sidebar input[type="submit"]:hover {
    background-color: #676f70;
}

input[type="search"] {
    padding: 10px;
    background-color: #fff;
    border: none;
    margin-right: 10px;
    width: 200px;
    border-radius: 2px;
    font-family: 'Pixelify Sans', sans-serif;
}

.card {
    background-color: transparent !important;
}

.content {
    margin-left: 280px;
    padding: 20px;

}

.game-item {
    width: 350px;
    cursor: pointer;
}

.game-elements {
    background-color: #232036;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
}



.game_list .sections:hover {
    background-color: #2C2A3E;
}

.content figure img {
    width: 300px;
    border-radius: 8px;
}

/* .content a:visited{
    color: #fff;;
} */
.content a:active {
    color: #fff;
}

.content a:hover {
    color: #8D9899
}



.section-search {
    padding: 10% 0 0%;
    text-align: center;
    color: #8D9899;
    background:
        url('/src/pattern.jpg');
    background-position: center;
}

.tags {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-link {
    background-color: #8D9899;
    color: #100C12;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Pixelify Sans', sans-serif;
    transition: background-color 0.3s ease;
}

.tag-link:hover {
    background-color: #E2142F;
    color: #ffffff;
}

.tag-link:focus {
    background-color: #E2142F;
    color: #ffffff;
}

.citate_text {
    font-style: italic;
    font-size: 25px;
}

.btn_change {
    background-color: #db1331;
    font-family: 'Pixelify Sans', sans-serif;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
}

.btn-light {
    font-family: 'Pixelify Sans', sans-serif;
    display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-light:hover {
    background-color: #db1331 !important;
    border-color: #db1331 !important;
    color: #fff !important;
}

.btn_change:hover {
    background-color: #8D9899;

    border: none;
    color: #000000;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
}

.game_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.game_list li {
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.sections {
    margin: 40px auto;
    width: 500px;
    border: 2px solid rgb(49, 49, 49);
}

.news_page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    margin: 40px auto;
    gap: 3%;
    text-align: center;
    border: 2px solid rgb(49, 49, 49);
}

.description {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
   
}

.news_image {
    width: 500px;
    margin-right: 20px;
    border: none;
}

.news_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-right: 20px;
    width: 450px;
    border: none;
}

.game_window {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    margin: 40px auto;
    text-align: center;
    border: 1px solid rgb(36, 36, 36);
}

.game_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    width: 450px;
    border: none;
}

.buttons {
    border: none;
}

.btn_buy {
    background-color: #0495c1;
    cursor: pointer;
    padding: 12px 40px;
    margin: 5px;
    border-radius: 5px;
}

.btn_buy:hover {
    background-color: #0381a7;
}

.btn_remove {
    background-color: #C5133C;
    cursor: pointer;
    padding: 12px 40px;
    margin: 5px;
    border-radius: 5px;
}

.container_register{
    margin: auto;
    text-align: center;
    background-color: #38325f;
    width: 500px;
    height: 900px;
}

.container_login{
    margin: auto;
    text-align: center;
    background-color: #38325f;
    width: 500px;
    height: 520px;
}

.main_title{
    padding-top: 35px;
}

.labelElements{
    display: block;
    float: left;
    padding-left: 50px;
    color: rgb(202, 202, 202);
    margin-bottom: 0;
}

.inputType{
    width: 400px;
    height: 25px;
}

.importantLink{
    color: #9790c0;
}

.section-FAQ{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleFAQ{
    font-size: 3em;
    margin: 2rem 0rem;   
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
}

.question h2{
    font-size: clamp(1rem, 5vw, 1.8rem);;
}
@media (max-width: 768px){

}

.answer{
    max-height: 0;
    overflow: hidden;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer{
    max-height: 300px;
}

.hint{
    text-align: left;
    margin-left: 53px;
    font-size: small;
    color: gray;
}

.error{
    font-size: 25px;
    color: red;
}



.form-check-input {
    appearance: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40px!important;
    height: 20px!important;
    border: 1.2px solid #9b9b9b!important;
    border-radius: 10px!important;
    background-color: #fff;
    position: relative!important;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    padding-left: 5px;
}
.form-check-label{

        margin-right: 30px;
    
}
.form-check{
    display: flex !important;
}
.form-check-input::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s ease-in-out;
}

.form-check-input:checked {
    background-color: #E2142F ;

}

.form-check-input:checked::before {
    left: 20px;
}

.card-img-top {
    max-height: 500px;
    height: auto; 
    object-fit: cover;
}
@media (max-width: 768px){
    .card-img-top {
        max-height: 200px;
        height: 100%; 
        object-fit: cover;
    }
}
.gallery{
    padding-top: 100px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

body.transition {
    transition: background-color 0.5s ease;
}

#themeIcon {
    transition: transform 0.5s ease;
}

#themeIcon.bi-sun {
    transform: rotate(90deg);
}

#themeIcon.bi-moon {
    transform: rotate(0deg);
}



.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.5) !important; 
}


.modal-content {
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 10%;
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;}

#contactForm{
    display: grid !important;
}
.modal input, .modal textarea{
    margin-bottom: 1rem;
    border-radius: 3px;

}
.modal button{
    margin-bottom: 0;
}
.modal button:hover{
    margin-bottom: 0;
}
